
.bg-info {
    background-color: #c7a8e0 !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #280003;
}

.navbar-brand {
    font-family: 'quicksand';
    font-size: 2.25rem;
}

.btn-info {
    color: #280003;
    background-color: #eee0cb;
    border-color: #280003;
}

.btn-primary {
    color: #280003;
    font-size: 150%;
    background-color: #c2847a;
    border-color: #280003;
    border-width: 1px;
}

body {
    background-color: #ffffff;
}

.vl {
    border-left: 6px solid #280003;
    height: 500px;
}
.row {
    background-color: #ffffff;
}

.card-image {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}